<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <link rel="stylesheet" href="../css/style.css"> 
</head>
<body>
    <h1>Red Dead Redemption 2</h1>
<p>América, 1899. El ocaso del Salvaje Oeste ha comenzado y las fuerzas de la ley dan caza a las últimas bandas de forajidos. Los que no se rinden o sucumben, son asesinados. Tras un desastroso atraco fallido en la ciudad de Blackwater, Arthur Morgan y la banda de Van der Linde se ven obligados a huir. Con agentes federales y los mejores cazarrecompensas de la nación pisándoles los talones, la banda deberá atracar, robar y luchar, para sobrevivir en su camino por el escabroso territorio del corazón de América. Mientras las divisiones internas aumentan y amenazan con separarlos a todos, Arthur deberá elegir entre sus propios ideales y la lealtad a la banda que lo vio crecer.</p>
<img src="../img/red dead redemption.jfif" alt="red dead redemption 2">
<h3>$30.000</h3>

<h2>comentarios</h2>
<div class="pepito">
<p>PixelWarrior:es una joya en el mundo de los videojuegos que combina una narrativa cautivadora con mecánicas de juego envolventes. Desde el primer momento, te sumerge en un mundo vibrante lleno de personajes memorables y paisajes impresionantes.</p>
<p>QuestMaster:es una inmersiva experiencia que combina exploración, resolución de acertijos y un desarrollo narrativo profundo. Desde el momento en que inicias el juego</p>
<p>StealthNinja:es un juego que desafía la percepción de la realidad. A medida que exploras diversos mundos</p>
<p>EpicGamerX:es una obra maestra que redefine el género de los videojuegos de mundo abierto. Ambientado en el ocaso de la era del salvaje oeste</p>
<p>DragonSlayer:Red Dead Redemption 2 no es solo un juego; es una experiencia narrativa que se queda contigo mucho después de que hayas terminado. Su mundo abierto, lleno de vida y detalles, y su historia emocionalmente resonante hacen de este título un imprescindible para cualquier amante de los videojuegos. Es, sin duda, uno de los mejores juegos de la generación.</p>
<p>CosmicRaider:Red Dead Redemption 2 es un hito en la narrativa y el diseño de videojuegos, que ofrece una experiencia rica en detalles y emociones. Ambientado en el ocaso del viejo oeste</p>
<p>MysticSorcerer:La historia es una de las más emotivas y complejas de la serie. A través de la evolución de Arthur, el jugador se enfrenta a dilemas morales y reflexiona sobre la lealtad, la redención y la lucha por un futuro incierto. Los personajes son tridimensionales y memorables, cada uno con sus propias motivaciones y arcos narrativos que se entrelazan de manera brillante</p>
</div>
</body>
</html>







