<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>God Of War Ragnarok</h1>>
<p>De la mano de Santa Monica Studio llega la secuela del aclamado God of War (2018). El Fimbulvetr está en marcha. Kratos y Atreus deben viajar a cada uno de los Nueve Reinos en busca de respuestas mientras las fuerzas asgardianas se preparan para la batalla profetizada que supondrá el fin del mundo. Por el camino, explorarán paisajes míticos increíbles y se enfrentarán a temibles enemigos, como monstruos y dioses nórdicos. La amenaza del Ragnarök está cada vez más cerca. Kratos y Atreus deben elegir entre su propia seguridad y la de los reinos</p>
<img src="../img/god of war ragnarok.jfif" alt="god of war ragnarok">
<h3>$30.000</h3>

<h2>comentarios</h2>
<div class="pepito">
<p>BattleBard:God of War Ragnarök es la continuación magistral de la historia de Kratos y Atreus, llevando a los jugadores a un viaje emocional y épico a través de los mitos nórdicos. La narrativa es más profunda y personal, explorando la relación entre padre e hijo en un contexto de guerra inminente</p>
<p>VortexHunter:El juego es visualmente impresionante, con un diseño artístico que da vida a los diferentes reinos nórdicos. Cada detalle, desde las expresiones faciales hasta los paisajes, es asombroso. La música y el sonido son igualmente notables, creando una atmósfera envolvente que intensifica cada escena</p>
<p>RetroGamerGal:La jugabilidad es refinada, con un sistema de combate que combina estrategia y acción. Las nuevas habilidades y armas permiten a los jugadores personalizar su estilo de juego. La exploración es recompensante, con secretos y tesoros escondidos que enriquecen la experiencia</p>
<p>ShadowAssassin:God of War Ragnarök" no solo expande la historia de Kratos y Atreus, sino que también establece nuevos estándares en la narrativa de los videojuegos. Con una mezcla perfecta de acción, exploración y emoción, es un título imprescindible que dejará una huella duradera</p>
<p>ArcaneRogue:God of War Ragnarök , la historia de Kratos y Atreus se adentra en temas profundos sobre la paternidad, la responsabilidad y el destino. Este juego es una exploración emocional que toca las fibras más sensibles del jugador.</p>
<p>FierceGuardian:Los gráficos son una obra de arte, con cada reino y personaje cuidadosamente diseñados. La atención al detalle es impresionante. La música, compuesta por Bear McCreary, complementa perfectamente la narrativa, elevando la experiencia emocional</p>
<p>DungeonDweller:El combate es dinámico y satisfactorio, con nuevas mecánicas que añaden variedad. La interacción entre Kratos y Atreus en las batallas es un punto destacado, mostrando su crecimiento como dúo. Las secciones de exploración están llenas de acertijos y desafíos que mantienen el interés</p>
</div>
</body>
</html>







