<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Infamous 2</h1>
<p>Ambientado un mes después de la derrota de Kessler. Cole MacGrath se ha enterado de que los Primeros Hijos fue solo el comienzo y ahora deberá estar preparado para enfrentarse con la amenaza inminente de la bestia. Acompañado por su poco confiable mejor amigo, Zeke, y por una agente de la NSA, Lucy Kuo, Cole viajara a New Marais en busca de unos Núcleos explosivos que le servirán para derrotar a la bestia al tiempo que deberá lidiar con la milicia de Joseph Bertrand III y otras amenazas, además de una misteriosa conductora.<p>
<img src="../img/infamous 2.jfif" alt="infamous 2">
<h3>$15.000</h3>

<h2>comentarios</h2>
<div class="pepito">
<p>ThunderStrike:inFAMOUS 2 lleva la historia de Cole MacGrath a nuevos niveles, expandiendo su viaje como un héroe (o villano) en un mundo lleno de decisiones morales. La narrativa es envolvente y se siente más madura que en su predecesor</p>
<p>GalacticConqueror:El juego presenta gráficos mejorados, con un diseño de ciudad vibrante y detallado. Nueva Morial es un entorno fascinante, lleno de vida y peligros. La banda sonora y las voces son igualmente destacables, aportando una gran atmósfera a la experiencia</p>
<p>FantasyFighter:La jugabilidad es dinámica y variada. Las nuevas habilidades de Cole ofrecen múltiples enfoques en el combate y la exploración. Los poderes son impresionantes y el sistema de moralidad permite que los jugadores tomen decisiones que afecten el mundo y la historia</p>
<p>WarlordX:inFAMOUS 2 es una emocionante secuela que supera a su predecesor en todos los aspectos. Con una narrativa sólida, jugabilidad refinada y un mundo vibrante, es un título que vale la pena experimentar</p>
<p>SorceressScribe:inFAMOUS 2 profundiza en la dualidad del poder y las decisiones que definen a un héroe. La lucha de Cole MacGrath entre ser un salvador o un destructor se vuelve más intensa en esta entrega, ofreciendo una narrativa rica en matices</p>
<p>BattleMage42:Visualmente, el juego es atractivo, con un estilo artístico que complementa su temática. Los efectos de las habilidades de Cole son espectaculares y dan vida a las batallas. La música acentúa las emociones y la tensión en momentos clave</p>
<p>EnchantedKnight:La jugabilidad es fluida, con combates que requieren estrategia y habilidad. Los nuevos poderes permiten a los jugadores personalizar su estilo de juego. Las misiones secundarias son variadas y añaden profundidad al mundo</p>
</div>
</body>
</html>







