<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>mercado encadenado</h1>
<h3>Nos presentamos, somos una casa de compra online dedicada a la venta de juegos, somos los mejores en cuanto a calidad-precio, y nos enorgullece ofrecer una amplia selección de títulos para todas las edades y gustos. Nuestro compromiso es brindar una experiencia de compra excepcional, con atención al cliente personalizada y envíos rápidos para que disfrutes de tus juegos favoritos</h2>
<p>contacto:mercadoencadenado@gmail.com</p>
<p>telefono:1139459000</p>
<h3>mas sobre nosotros</h3>
<p>En Mercado Encadenado, fundados en 2024, nos hemos consolidado como los vendedores número 1 en la venta de juegos para cualquier plataforma. Nuestra pasión por los videojuegos y nuestro compromiso con la calidad nos han permitido construir una sólida reputación en el sector. Nos dedicamos a ofrecer a nuestros clientes una amplia selección de títulos, desde los más populares hasta los más innovadores, siempre garantizando la mejor experiencia de compra.</p>
<h3>donde nos ubicamos</h3>
<p>Nuestra sede está ubicada en la calle Bits, un lugar de fácil acceso que se encuentra entre las calles Narnia y Tangamandapio. Nos encontramos en el edificio central, un espacio moderno y acogedor que refleja nuestro compromiso con la calidad y el servicio. Ofrecemos una amplia selección de juegos de alta calidad. Además, aceptamos devoluciones, porque queremos que estés completamente satisfecho con tu compra. Te invitamos a visitarnos y descubrir todo lo que tenemos para ofrecerte.</p>
</body>
</html>