<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>The Last Of Us</h1>
<p>La trama describe las vivencias de Joel y Ellie, un par de supervivientes de una pandemia en Estados Unidos ocasionada por una cepa del hongo Cordyceps, que al infectar a los humanos los convierte en criaturas caníbales, y que se transmite a través de una simple mordedura.</p>
<img src="../img/the last of us.jfif" alt="the last of us">
<h3>$20.000</h3>

<h2>comentarios</h2>
<div class="pepito">
<p>VengefulSpirit:The Last of Us es una experiencia cinematográfica que redefine lo que un videojuego puede ser. Ambientado en un mundo post-apocalíptico, sigue la historia de Joel y Ellie en su lucha por la supervivencia en un entorno devastado por un hongo que transforma a los humanos en criaturas peligrosas</p>
<p>LegendaryHero:El juego es visualmente impresionante, con un diseño de mundo detallado que captura la desolación y la belleza del paisaje. La dirección de arte es sobresaliente, y la música de Gustavo Santaolalla realza las emociones de la narrativa</p>
<p>IroncladDefender:La jugabilidad combina exploración, sigilo y combates tensos. Las decisiones estratégicas son cruciales, y el sistema de crafting permite a los jugadores personalizar su enfoque. La IA de los enemigos es desafiante, lo que mantiene la tensión en todo momento</p>
<p>SilentShadow:The Last of Us es más que un juego; es una profunda exploración de la humanidad, el amor y la pérdida. Su narrativa impactante y su jugabilidad inmersiva lo convierten en un clásico instantáneo y un must-play para cualquier amante de los videojuegos</p>
<p>EmberWizard:The Last of Us" ofrece una narrativa conmovedora en un entorno desgarrador. La relación entre Joel y Ellie es el corazón del juego, explorando temas de supervivencia, sacrificio y redención en un mundo lleno de peligros</p>
<p>RadiantPaladin:Los gráficos son sobresalientes para su tiempo, con una atención al detalle que sumerge al jugador en su mundo. La banda sonora, junto con el diseño de sonido, crea una atmósfera que complementa perfectamente la historia</p>
<p>ToxicViper:La jugabilidad es intensa y variada, combinando momentos de acción con secciones de sigilo. Los jugadores deben gestionar recursos y tomar decisiones tácticas para sobrevivir. La IA de los enemigos y compañeros de Ellie es impresionante, aportando realismo a las interacciones</p>
</div>
</body>
</html>







