<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Grand Theft Auto 5</h1>
<p>Nueve años después de un robo fallido en la ciudad ficticia de Ludendorff, North Yankton, el ex ladrón de bancos Michael Townley y su familia se mudaron a Los Santos con una nueva identidad. Michael lleva una vida normal pero aburrida, hasta que se encuentra con Franklin Clinton, un gángster que busca ascender en el inframundo de Los Santos, e inesperadamente se encuentra con Trevor Philips, el único otro sobreviviente del robo a un banco en Ludendorff. Los tres unen sus fuerzas para llevar a cabo una audaz tarea de robar el Union Depository y apoderarse de decenas de millones de dólares en oro. Sin embargo, los federales corruptos se aprovechan del trío, usándolos para llevar a cabo su propia agenda, así como numerosos enfrentamientos con bandas rivales y otros delincuentes.</p>
<img src="../img/GTA 5.jfif" alt="gta 5">
<h3>$15.000</h3>
</body>

<h2>comentarios</h2>
<div class="pepito">
<p>FrostBiteNinja:Grand Theft Auto V es una obra maestra del mundo abierto que ofrece una experiencia rica y variada. Ambientado en la ficticia ciudad de Los Santos, el juego sigue las vidas entrelazadas de tres protagonistas: Michael, Franklin y Trevor, cada uno con sus propias historias y motivaciones</p>
<p>BerserkBeast:Los gráficos son impresionantes, con un diseño detallado que da vida a la vibrante ciudad y sus alrededores. La atención al detalle es asombrosa, desde el tráfico hasta la fauna. La banda sonora y las emisoras de radio ofrecen una variedad musical que complementa perfectamente la experiencia</p>
<p>PhantomRider:La jugabilidad es diversa, permitiendo a los jugadores alternar entre los tres personajes en tiempo real. Las misiones son emocionantes y variadas, y el sistema de mejoras y personalización de vehículos y habilidades agrega profundidad. Las actividades secundarias son abundantes, desde deportes hasta robos</p>
<p>SavageWarlock:Grand Theft Auto V es un hito en el diseño de videojuegos, ofreciendo una experiencia inmersiva que combina narrativa, acción y exploración. Es un título que no solo entretiene, sino que también invita a la reflexión sobre la sociedad contemporánea</p>
<p>CosmicBrawler:Grand Theft Auto V lleva a los jugadores a un vasto mundo lleno de posibilidades. A través de las historias de Michael, Franklin y Trevor, el juego explora temas de crimen, amistad y traición en un entorno lleno de vida</p>
<p>EternalQuest:Visualmente, el juego es impresionante, con paisajes que van desde playas soleadas hasta montañas nevadas. La atención al detalle es evidente en cada rincón de Los Santos. La música y las actuaciones de voz son de alta calidad, aportando realismo a la narrativa</p>
<p>CunningThief:La jugabilidad es adictiva, con un sistema de misiones bien diseñado y la libertad de explorar un mundo abierto. Las misiones de atracos son especialmente emocionantes y ofrecen un enfoque estratégico. Las múltiples actividades y mini-juegos mantienen el interés a largo plazo</p>
</div>
</html>







