<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Little Big Planet 3</h1>
<p>LittleBigPlanet 3, desarrollado por Sumo Digital y distribuido por Sony para PlayStation 3 y PlayStation 4, es una nueva entrega de la saga de plataformas LittleBigPlanet con nuevos personajes y la misma simpatía de siempre.</p>
<img src="../img/little big planet 3.jfif" alt="little big planet 3">
<h3>$15.000</h3>

<h2>comentarios</h2>
<div class="pepito">
<p>ThunderClap:LittleBigPlanet 3 es la tercera entrega de la exitosa serie que celebra la creatividad y la personalización. Con nuevos personajes jugables y un mundo expansivo, el juego ofrece una experiencia divertida y colaborativa para jugadores de todas las edades</p>
<p>DarkSorceress:Visualmente, el juego es encantador, manteniendo el estilo artístico de la serie con un enfoque en texturas de tela y manualidades. La música es alegre y adecuada para cada nivel, creando una atmósfera acogedora y divertida</p>
<p>MysticWarrior:La jugabilidad es variada, con niveles diseñados para aprovechar las habilidades únicas de los nuevos personajes: Toggle, Swoop y OddSock. La personalización de niveles y la creación de contenido permiten a los jugadores dejar su huella en el juego. Sin embargo, algunos niveles pueden sentirse un poco desiguales en términos de diseño</p>
<p>AlphaWolf:LittleBigPlanet 3 es un homenaje a la creatividad y la colaboración, ofreciendo un sinfín de posibilidades. Aunque no está exento de fallos, su encanto y jugabilidad lo convierten en una experiencia memorable para los amantes de los juegos de plataformas</p>
<p>ShadowKnight:LittleBigPlanet 3 expande la rica experiencia de sus predecesores con nuevos personajes y mecánicas de juego. Este título continúa la tradición de fomentar la creatividad y la colaboración entre los jugadores</p>
<p>RogueGamer:Los gráficos son encantadores y vibrantes, con un estilo visual que sigue siendo único en el mundo de los videojuegos. La banda sonora es alegre y acompaña perfectamente la aventura, creando una experiencia inmersiva</p>
<p>FirebrandFighter:La jugabilidad se siente fluida y divertida, con los nuevos personajes aportando diversidad a los niveles. La posibilidad de crear y compartir contenido añade un valor significativo al juego, aunque la curva de aprendizaje puede ser un poco empinada para los nuevos jugadores</p>
<p>MythosHunter:LittleBigPlanet 3" es un excelente título que celebra la creatividad y la imaginación. Con su jugabilidad encantadora y un mundo lleno de posibilidades, es un juego que promete horas de diversión, aunque algunos aspectos podrían beneficiarse de una mayor pulidez</p>
</div>
</body>
</html>








