<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <h1>Uncharted 4</h1>
<p>Tres años después de los eventos de UNCHARTED 3: La traición de Drake, se supone que Nathan Drake se retiró del mundo de los cazafortunas. Sin embargo, el destino no tarda en golpear su puerta cuando su hermano Sam reaparece en busca de ayuda para salvar su propia vida, una aventura demasiado tentadora e irresistible para Drake. Sam y Drake salen en busca del tesoro perdido del capitán Henry Avery y emprenden camino hacia Libertalia, una presunta colonia pirata utópica ubicada en lo profundo de los bosques de Madagascar. UNCHARTED 4: En El desenlace del ladrón, los jugadores emprenden un viaje alrededor del mundo, en el que pasan por islas selváticas, ciudades remotas y picos nevados en busca del tesoro de Avery.</p>
<img src="../img/uncharted 4.jfif" alt="uncharted 4">
<h3>$30.000</h3>

<h2>comentarios</h2>
<div class="pepito">
<p>ArcaneArcher:Uncharted 4: A Thief's End es un espectacular cierre para la saga de Nathan Drake. Esta entrega combina acción trepidante con una narrativa emocional profunda, llevándonos a una aventura final que explora el legado de Drake y su búsqueda de tesoros</p>
<p>PhantomAssassin:Los gráficos son simplemente asombrosos, mostrando paisajes detallados y animaciones fluidas que sumergen al jugador en el mundo. La dirección de arte es impresionante, y la música, junto con las actuaciones de voz, aporta una gran carga emocional a la historia</p>
<p>HeroicLegend:La jugabilidad es impecable, con un sistema de combate y plataformas que se siente más refinado que nunca. Las nuevas mecánicas, como el gancho y el uso del vehículo, añaden frescura a la exploración. Las secciones de sigilo están bien implementadas y ofrecen alternativas estratégicas en las confrontaciones</p>
<p>StealthyMage:Uncharted 4 es un cierre magistral para la saga que combina aventura, emoción y una jugabilidad excepcional. Con su narrativa rica y su impresionante presentación, es un juego que no solo define la generación, sino que también establece nuevos estándares en la industria</p>
<p>BraveExplorer:Uncharted 4: A Thief's End es una obra maestra que no solo ofrece una emocionante aventura, sino que también explora las relaciones y el crecimiento personal de Nathan Drake. La narrativa se centra en su vida después de la caza de tesoros y la búsqueda de redención</p>
<p>ChaosKnight:Visualmente, el juego es impresionante. Cada escenario está cuidadosamente diseñado, y los detalles son espectaculares. La música y los efectos de sonido contribuyen a la inmersión, haciendo que cada escena sea memorable</p>
<p>SavageBard:La jugabilidad se siente pulida y variada. Las nuevas mecánicas, como la escalada con el gancho, añaden dinamismo a las secciones de exploración. Las misiones son emocionantes y ofrecen un buen equilibrio entre acción y resolución de acertijos</p>
</div>
</body>
</html>







